@import "../../../styles/variables";
@import "../../../styles/utilities";

.select-theme {
  @extend %selection-button;

  &:hover,
  &:focus {
    opacity: 1 !important;
  }

  &[data-state="true"] {
    svg {
      transform: rotate(-180deg);
    }
  }

  &[data-state="false"] {
    svg {
      transform: rotate(0);
    }
  }
}

.input-container {
  height: auto;

  &.important {
    label {
      &::before {
        content: "*";
      }
    }
  }

  &-sub-select {
    border: none !important;
  }
}
