@import "../../../styles/variables";

.mini-chart-container {
  width: 100%;
  height: auto;
  min-width: 20rem;
  min-height: 25rem;
  max-height: 50rem;
  background: $light-color;
  padding: 1rem;
  box-sizing: border-box;

  canvas {
    width: 100%;
    min-width: auto;
    height: 100%;
  }
}
